<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robotic_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0.0"
        rpy="0 0 0" />
      <mass
        value="5.0" />
      <inertia
        ixx="0.1"
        ixy="0"
        ixz="0"
        iyy="0.1"
        iyz="0"
        izz="0.1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Sim anchor: keep robot base fixed in world so arm motion does not topple the model. -->
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </joint>

  <link
    name="Link_1">
    <inertial>
      <origin
        xyz="0.0015944 0.10103 -0.0018596"
        rpy="0 0 0" />
      <mass
        value="1.3166" />
      <inertia
        ixx="0.004136"
        ixy="-4.8317E-05"
        ixz="1.3782E-05"
        iyy="0.001766"
        iyz="-8.8614E-05"
        izz="0.0039829" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l1"
    type="revolute">
    <origin
      xyz="0 0 0.16015"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="200" />
  </joint>
  <link
    name="Link_2">
    <inertial>
      <origin
        xyz="-0.0061333 0.096044 0.011181"
        rpy="0 0 0" />
      <mass
        value="2.6554" />
      <inertia
        ixx="0.017757"
        ixy="0.001719"
        ixz="0.00016019"
        iyy="0.010542"
        iyz="-0.00062672"
        izz="0.023953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l2"
    type="revolute">
    <origin
      xyz="0 0.13385 0"
      rpy="3.1416 0 -3.1416" />
    <parent
      link="Link_1" />
    <child
      link="Link_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="200" />
  </joint>
  <link
    name="Link_3">
    <inertial>
      <origin
        xyz="0.011442 0.041104 -0.00047565"
        rpy="0 0 0" />
      <mass
        value="1.7937" />
      <inertia
        ixx="0.0049307"
        ixy="-0.00042537"
        ixz="-0.00013467"
        iyy="0.0045807"
        iyz="-3.3477E-05"
        izz="0.004251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l3"
    type="revolute">
    <origin
      xyz="0 0.23 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link_2" />
    <child
      link="Link_3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="200" />
  </joint>
  <link
    name="Link_4">
    <inertial>
      <origin
        xyz="-5.695E-05 3.0123E-08 -0.092392"
        rpy="0 0 0" />
      <mass
        value="1.6381" />
      <inertia
        ixx="0.0068254"
        ixy="3.8824E-09"
        ixz="-1.4981E-05"
        iyy="0.0072542"
        iyz="2.1728E-09"
        izz="0.0027493" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/Link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l4"
    type="revolute">
    <origin
      xyz="0 0.05 -0.072497"
      rpy="0 0 0" />
    <parent
      link="Link_3" />
    <child
      link="Link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="200" />
  </joint>
  <link
    name="End_Effector">
    <inertial>
      <origin
        xyz="8.9756E-05 -0.019879 -0.0001955"
        rpy="0 0 0" />
      <mass
        value="0.30122" />
      <inertia
        ixx="0.00029972"
        ixy="-2.7625E-08"
        ixz="-2.1648E-09"
        iyy="0.00017378"
        iyz="-4.3723E-08"
        izz="0.00030033" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/End_Effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robotic_arm/meshes/End_Effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee"
    type="revolute">
    <origin
      xyz="0 0 -0.1975"
      rpy="1.5708 0 0" />
    <parent
      link="Link_4" />
    <child
      link="End_Effector" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="200" />
  </joint>

  <!-- Tool center point frame used for IK/pose goals.
       Keep this as identity first; calibrate xyz/rpy later if needed. -->
  <link name="tool0" />
  <joint name="end_effector_to_tool0" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="End_Effector" />
    <child link="tool0" />
  </joint>
  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="l1">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="l2">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="l3">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="l4">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="ee">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

  <gazebo>
    <plugin
      filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find robotic_arm)/config/ros2_controllers.yaml</parameters>
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
    </plugin>
  </gazebo>

</robot>
