<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="AGV">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.7982E-05 0.05251 -0.013358"
        rpy="0 0 0" />
      <mass
        value="2.0304" />
      <inertia
        ixx="0.010955"
        ixy="0.00011029"
        ixz="7.5942E-08"
        iyy="0.029243"
        iyz="-7.82E-08"
        izz="0.018838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_Wheel">
    <inertial>
      <origin
        xyz="-8.3267E-17 1.2434E-05 0.0175"
        rpy="0 0 0" />
      <mass
        value="0.15008" />
      <inertia
        ixx="7.2602E-05"
        ixy="-1.3674E-15"
        ixz="1.8E-14"
        iyy="7.2596E-05"
        iyz="-1.7782E-14"
        izz="0.0001208" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Left_Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Left_Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lw"
    type="continuous">
    <origin
      xyz="0.078146 -0.076629 0.033354"
      rpy="1.5708 0.74576 0" />
    <parent
      link="base_link" />
    <child
      link="Left_Wheel" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Right_Wheel">
    <inertial>
      <origin
        xyz="-1.3878E-17 1.2434E-05 -0.0175"
        rpy="0 0 0" />
      <mass
        value="0.15008" />
      <inertia
        ixx="7.2602E-05"
        ixy="-1.3674E-15"
        ixz="1.8E-14"
        iyy="7.2596E-05"
        iyz="-1.7782E-14"
        izz="0.0001208" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Right_Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Right_Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rw"
    type="continuous">
    <origin
      xyz="0.078146 0.10337 0.033354"
      rpy="1.5708 0.28991 0" />
    <parent
      link="base_link" />
    <child
      link="Right_Wheel" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Castor_Holder1">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0.0278545725602815 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.0125096896264229" />
      <inertia
        ixx="2.92007120935875E-06"
        ixy="-8.34472187194977E-22"
        ixz="-3.24777992708325E-09"
        iyy="1.65017674110526E-06"
        iyz="7.02147854422582E-23"
        izz="2.61649486462288E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Holder1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Holder1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ch1"
    type="continuous">
    <origin
      xyz="-0.061854 -0.086629 0.006354"
      rpy="1.5708 0 -0.010697" />
    <parent
      link="base_link" />
    <child
      link="Castor_Holder1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Castor_Wheel1">
    <inertial>
      <origin
        xyz="6.93889390390723E-18 -2.77555756156289E-17 -4.16333634234434E-17"
        rpy="0 0 0" />
      <mass
        value="0.0177238850700305" />
      <inertia
        ixx="2.37570442022247E-06"
        ixy="-3.91485784711108E-17"
        ixz="2.08354491983995E-08"
        iyy="2.37548153974429E-06"
        iyz="-3.65866341682527E-16"
        izz="4.32323453510918E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cw1"
    type="continuous">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="Castor_Holder1" />
    <child
      link="Castor_Wheel1" />
    <axis
      xyz="0.010697 0 0.99994" />
  </joint>
  <link
    name="Castor_Holder2">
    <inertial>
      <origin
        xyz="0 0.0278545725602815 0"
        rpy="0 0 0" />
      <mass
        value="0.0125096896264228" />
      <inertia
        ixx="2.92007120935875E-06"
        ixy="-5.53169257620765E-22"
        ixz="-3.24777992708309E-09"
        iyy="1.65017674110526E-06"
        iyz="-6.32549700520083E-22"
        izz="2.61649486462287E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Holder2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Holder2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ch2"
    type="continuous">
    <origin
      xyz="-0.061854 0.11337 0.006354"
      rpy="1.5708 0 -0.010697" />
    <parent
      link="base_link" />
    <child
      link="Castor_Holder2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Castor_Wheel2">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 -2.42861286636753E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.0177238850700305" />
      <inertia
        ixx="2.37570442022247E-06"
        ixy="-3.9146797319591E-17"
        ixz="2.08354491983988E-08"
        iyy="2.3754815397443E-06"
        iyz="-3.65865976726571E-16"
        izz="4.32323453510918E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Castor_Wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cw2"
    type="continuous">
    <origin
      xyz="0 0.01 0"
      rpy="0 0 0" />
    <parent
      link="Castor_Holder2" />
    <child
      link="Castor_Wheel2" />
    <axis
      xyz="0.010697 0 0.99994" />
  </joint>
  <link
    name="Lidar">
    <inertial>
      <origin
        xyz="2.7756E-17 0.005 1.7347E-18"
        rpy="0 0 0" />
      <mass
        value="0.0049087" />
      <inertia
        ixx="2.3265E-07"
        ixy="-5.9287E-40"
        ixz="1.0355E-54"
        iyy="3.835E-07"
        iyz="-1.3184E-38"
        izz="2.3265E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://agv/meshes/Lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="-0.16185 0.013371 0.078354"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>